// parent-panel.scss


.parent-panel {
	background: #fff;
	border-radius: $parent-panel-border-radius;
	width: 100%;
	position: relative;
	min-height: 600px;
	padding: 20px;
	margin-top: $parent-panel-margin-top;
	-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.36);
	-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.36);
	box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.36);
	margin-bottom: 20px;


	.tabs {
		.nav.nav-tabs {
			padding-left: 0;
			margin-bottom: 0;
			list-style: none;

			border: 0px;

			li {

				border: 0px;
				width: 20%;
				float: left;
				margin-bottom: -1px;
				position: relative;
    		display: block;

				a {

					font-family: Titillium-Bold;
					text-transform: uppercase;
					color: #fff;
					text-align: center;
					padding: 15px;
					border: 0px;
					background: $primary-color;
					opacity: 0.5;
					border-radius: 0px;
					color: #fff;
				//	@include transition(0.3s);

					&:hover {
						background: $secondary-color;
						color: #fff;
						opacity: 0.9
					}

				}
			}

			li.active {

				a {
					color: #fff;
					background: $primary-color;
					opacity: 1;
				}

			}

			li.w-minus-5 {
				width: 15%;
			}

			li.w-plus-5 {
				width: 25%;
			}


		}
	}

	.dates {

		margin-top: 20px;
		overflow: hidden;
		ul {
			margin: 0px;
			padding: 0px;
			list-style: none;
			text-align: center;
			font-family: Titillium;
			font-size: 12pt;

			li {
				display: inline-block;
				padding: 9px;
				position: relative;
				background: $dates-color;
				cursor: pointer;
				color: white;
				opacity: 0.4;
			//	@include transition(0.5s);

				@if $date-dropdown-status == true {
					width: 12.5%;
				}
				@else {
					width: 13.5%;
				}

				span {
					display: block;
					font-family: RobotoSlab;
					font-size: 16pt;
				}

				span.sm {
					font-size: 7pt;
					font-family: Titillium;
				}

				&.current {
					opacity: 1;
					background: $active-date-color;
				}

				&.more-dates {

					width: 8.7%;

					@if $date-dropdown-status == true {
						display: inline-block;
					}
					@else {
						display: none;
					}

				}

				&:hover {
					background: $active-date-color;
				}

			}

		}
	}

	#tabContent {
		margin-top: 20px;

		// article.live .panel .panel-heading {
		// 	background: $live-color;
		// }

		// article.finished .panel .panel-heading {
		// 	background: $finished-color;
		// }

		// article.unsuccessful .panel .panel-heading {
		// 	background: $unsuccessful-color;
		// }

		// article.selected .panel .panel-heading {
		// 	background: $selected-color;
		// }

		.panel {

			border: 0px;
			margin-bottom: 0px;

			.panel-heading {
				background-color: $secondary-color;
				color: white;
				font-family: Titillium-Bold;
				text-transform: uppercase;

				i {
					float: right;
					cursor: pointer;
				    font-size: 14pt;
				    padding-top: 2px;
				    padding-right: 2%;
				}

				a {
					color: white;
					text-decoration: none;
				}

			}

			.panel-body {
				padding: 0px;

				td {
					font-size: 0.95;
					font-family: Titillium;
					border: 1px solid #e4e4e4;
					padding-top: 3px;
					padding-bottom: 3px;

					&.score {
						font-family: RobotoSlab;
						font-weight: bold;
					}

					a {
						color: $primary-black;
					}

					i {
						cursor: pointer;
						animation: blink 1s infinite ease;
					}

					@keyframes blink {
						0% {opacity: 0;}
						50% {opacity: 1;}
						100% {opacity: 0;}
					}

					.img-responsive {
						width: 15px;
						display: inline-block;

					}

					i.live {
						color: #88C53D;
						font-size:9pt;
					}

					&:nth-child(1), &:nth-child(2),
					&:nth-child(4), &:nth-child(6) {
						width: 10%;
					}

					&:nth-child(3), &:nth-child(5) {
						width: 30%;
					}


				}

			}

		}

	}


	// &:before {
	// 	content: url('../../images/content-before.png');
	// 	vertical-align: super;
	// 	position: absolute;
	// 	left: -95px;
	// 	top: 20%;
	// 	z-index: -1;
	// }

	// &:after {
	// 	content: url('../../images/content-after.png');
	// 	vertical-align: super;
	// 	position: absolute;
	// 	right: -95px;
	// 	top: 20%;
	// 	z-index: -1;
	// }

	.soundBtn {
		padding: 15px;
		border: 0px;
		border-radius: 0px;
		font-family: Titillium;
		text-transform: uppercase;
		width: 100%;
		text-align: left;
		background: $primary-color;
		outline: none;
	//	@include transition(0.3s);

		i {
			font-size: 15pt;
		//	@include transition(0.3s);
		}

		&.on {
			background: $secondary-color;
		}

	}

	.match-results {

		margin-bottom: 0px;
		border: 1px solid #f7f7f7;
		background: #f7f7f7;
		text-align: center;
		border-bottom: 3px solid $primary-color;
		position: relative;

		.panel-heading {
			background: $primary-color;
			.panel-title {
				color: white;
				font-family: Titillium-Bold;
				text-transform: uppercase;
			}
		}

		.date {
			display: block;
			width: 60px;
			padding: 8px;
			height: 60px;
			position: absolute;
			left: 42%;
			z-index: 2;
			bottom: -30px;
			border-radius: 50%;
			background: $primary-color;
			color: white;
			font-family: RobotoSlab;
			font-size: 1.3em;

			span {
				font-size: 0.9em;
				font-family: Titillium;
				display: block;
				margin-top: -3px;
			}
		}

		.panel-body {
			padding: 15px;
			overflow: hidden;

			.img-holder {
				width: 70px;
				height: 70px;
				display: inline-block;

				img {
					width: 100%;
				}
			}

			.scores {
				display: inline-block;
				a {
					color: $primary-color;
					text-decoration: none;
					font-size: 4em;
					font-family: Titillium-Bold;
				}
			}

		}

	}

	.favourites {

		margin-top: 50px;

		.panel-heading {
			background: $primary-color;
			text-align: center;
			.panel-title {
				text-transform: uppercase;
				font-family: Titillium-Bold;
				color: white;
			}

		}

		.panel-body {

			background: #f7f7f7;
			padding: 0px;

			ul {
				list-style: none;
				margin: 0px;
				padding: 0px;

				li {

					border-bottom: 1px solid #e4e4e4;
					padding: 15px;
					font-family: Titillium-Bold;
					text-transform: uppercase;


					a {
						text-decoration: none;
						color: $primary-black;
					}

					span {
						font-size: 12pt;
					}

					i {
						font-size: 14pt;
						padding: 3px;
						cursor: pointer;
						color: $primary-color;
					}

				}

			}

		}

	}

	.news {

		margin-top: 30px;

		.panel-heading {
			background: $primary-color;
			text-align: center;

			.panel-title {
				font-family: Titillium-Bold;
				text-transform: uppercase;
				color: #fff;
			}
		}

		.panel-body {

			background: #f7f7f7;

			padding: 0px;

			ul {
				list-style: none;
				margin: 0px;
				padding: 0px;

				li {

					padding: 15px;

					a {
						color: $primary-black;
						font-family: Titillium-Bold;

						i {
							font-size: 15pt;
							color: $primary-color;
						}
					}
				}

			}

		}

	}

	.alert-sidebar {
		padding: 15px;
		font-family: Titillium;

		h3 {
			text-transform: uppercase;
			font-size: 14pt;
			margin-top: 0px;
			font-family: Titillium-Bold;
		}
	}

	.livescores {
		margin-top: 30px;
		overflow: hidden;
		.panel-body {
			padding: 0px;
			margin: 0px;

		 	th {
		 		background: $primary-color;
		 		color: #fff;
		 		text-transform: uppercase;
		 		font-family: Titillium-Bold;
		 		a {
		 			color: #fff;
		 		}

		 		i {
		 			cursor: pointer;
		 			font-size: 12pt;

		 			&:first-child {
		 				margin-right: 10px;
		 			}

		 			&:last-child {
		 				margin-left: 10px;
		 			}

		 		}

		 	}

		 	tr {
		 		padding: 5px;
		 		font-size: 0.95em;
		 	}

		}

	}


	// &:before {
	// 	content: '';
	// 	vertical-align: super;
	// 	width: 20px;
	// 	background: $primary-color;
	// 	z-index: -1;
	// 	left: -20px;
	// 	height: 100%;
	// 	top: 0;
	// 	position: absolute;
	// }

	// &:after {
	// 	content: '';
	// 	vertical-align: super;
	// 	width: 20px;
	// 	background: $primary-color;
	// 	z-index: -1;
	// 	height: 100%;
	// 	top: 0;
	// 	position: absolute;
	// 	right: -20px;
	// }

	&:before {
		content: url('../images/content-before.svg');
		left: -186px;
		vertical-align: super;
		position: absolute;
		top: 30%;
	}

	&:after {
		content: url('../images/content-after.svg');
		vertical-align: super;
		right: -186px;
		top: 30%;
		position: absolute;
	}

}

.info-section {

	background: white;
	padding: 40px;
	min-height: 10px;

	h1 {
		font-family: PaytoneOne;
	}

	p {
		font-family: Titillium;
	}

	h3 {
		font-family: Titillium-Bold;
		color: $secondary-color;
	}

}

footer {
	background: #f7f7f7;
	border-top: 3px solid $primary-black;
	padding: 20px;

	.social-links {
		padding: 0px;
		margin: 0px;
		list-style: none;

		li {
			display: inline-block;

			a {
				padding: 8px;
				background: $primary-grey;
				color: white;
				display: block;
				width: 40px;
				height: 40px;
				text-align: center;
				font-size: 13pt;
				border-radius: 50%;
			//	@include transition(0.5s);

				&:hover {
					background: $primary-color;
				}

			}



		}

	}

	.footer-links {

		list-style: none;
		margin: 0px;
		padding: 0px;
		padding-top: 9px;

		li {
			padding-right: 12px;
			padding-left: 12px;
			display: inline-block;
			border-right: 1px solid #e4e4e4;
			&:last-child {
				border-right: 0px;
			}

			a {
				color: $primary-color;
				font-family: Titillium;
			}

		}


	}


	p {
		font-family: Titillium;
		padding: 8px;
		margin: 0px;
		text-align: right;
		i {
			color: $primary-color;
		}

		a {
			color: $primary-color;
			opacity: 0.7;
		}

	}
}
