// popup.scss

.top-bar {
	width: 100%;
	position: relative;
	min-height: 10px;
	padding: 15px;
	color: white;
	font-family: Titillium;
	font-size: 10pt;
	background: $primary-color;

	.datetime, .country {
		display: inline-block;
	}

}

.ve-box {
	background: #f7f7f7;
	padding: 15px;
	font-family: Titillium-Bold;
	font-size: 20pt;
	text-align: center;

	
	.leftTeam, .vs, .rightTeam {
		display: inline-block;
	}

	p {
		font-size: 10pt;
		font-family: Titillium;
		margin: 0px;
	}

	p.time {
		font-size: 20pt;
		font-family: Titillium-Bold;
	}

	.vs {
		vertical-align: middle;
	}

}

.players {
	th {
		text-align: center;
		background: $secondary-color;
		color: white;
		font-family: Titillium-Bold;
		text-transform: uppercase;
	}

	.leftTable {
		padding-right: 1px;
	}

	.rightTable {
		padding-left: 1px;
	}

	.player-formation {
		td {
			font-family: Titillium;
			padding: 5px;
			text-align: center;

			&:first-child {
				width: 45%;
			}

			&:last-child {
				width: 45%;
			}

			&:nth-child(2) {
				width: 10%;
			}

		}
	}

	.coach {
		th {
			text-transform: none;
			font-size: 10pt;
		}
	}
}